
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<!-- <head>
HTML5
<meta charset="utf-8" />
</head> -->
<body>
	<h1>Olá! Thymeleaf configurado!</h1>

	<div>	  
	  <span th:if="${#fields.hasErrors('${cerveja.*}')}" th:errors="${cerveja.*}"></span>
      	  
	  <ol>
	  	<li th:each="erro: ${#fields.detailedErrors('${cerveja.*}')}">
	  	  <span th:text="${erro.fieldName}"></span>
	  	  <span th:text="${erro.message}"></span>
	  	</li>
	  </ol> 
	</div>

	<form method="post" th:object="${cerveja}"> 
		
		<span th:text="${mensagem}">Erro!</span> 
		
		<br> 
		<label for="sku">SKU</label>
		<input type="text" th:field="*{sku}"> 
		
		<br> 
		<label for="nome">Nome</label> 
		<input type="text" th:field="*{nome}">
		      
		<br> 
		<label for="descricao">Descrição</label> 
		
		<br> 
		<textarea rows="10" cols="80" th:field="*{descricao}"></textarea>
		
		<br> 
		<input type="submit" value="Salvar">
	</form>

</body>
</html>