<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout/LayoutPadrao">
	
<head>
	<title>Cadastro de usuários</title>
	
	<link rel="stylesheet" type="text/css" th:href="@{/stylesheets/bootstrap2-toggle.min.css}">
	
</head>
	

<body>
		<section class="aw-layout-content  js-content" layout:fragment="conteudo">

			<div class="page-header">
				<div class="container-fluid">
					<h1>Cadastro de Usuarios</h1>
				</div>
			</div>

			<div class="container-fluid">

              <!--  <div th:if="${#fields.hasErrors('${cerveja.*}')}">
				<div class="alert  alert-danger  alert-dismissible" role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<i class="fa  fa-exclamation-circle"></i> 
					<div>
						<ol>
							<li th:each="erro: ${#fields.detailedErrors('${cerveja.*}')}">
							<span th:text="${erro.fieldName}"></span> 
							<span th:text="${erro.message}"></span></li>
						</ol>
						<span th:errors="${cerveja.*}"></span>
					</div>
				</div>
               </div> -->
				
				
				<div class="alert alert-success" role="alert" th:if="${!#strings.isEmpty(mensagem)}">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<span class="glyphicon glyphicon-saved"></span> 
					<div>
						<span th:text="${mensagem}"></span>
					</div>
				</div>
								
	
				<form method="POST" class="form-vertical  js-form-loading">

					<div class="row">					 
					  <div class="col-sm-12 form-group">
						<label for="nome">Nome</label> 
						<input id="nome" type="text" class="form-control" autofocus="autofocus"/> 					 
 					 </div> 					 
 					</div> 					 
					 


				    <div class="row">					

					 <div class="col-sm-4 form-group">					  
					    <label for="email">E-mail</label>
						<input type="text" id="email" class="form-control" />
   				     </div>			
   				     
					<div class="col-sm-3 form-group">
					 	<label for="datanascimento">Data de nascimento</label>
					 	<input type="text" id="datanascimento" class="form-control" />
					</div>
   				     		 			 											
				   </div>			

				
				<div class="row">
				
						<div class="col-sm-2 form-group">
						 	<label for="senha">Senha</label>
						 	<input type="password" id="senha" class="form-control" />
						</div>
						
						<div class="col-sm-2 form-group">					  
					   	 <label for="csenha">Confirmação de senha</label>
					     <input type="password" id="csenha" class="form-control"/>	
					 	</div>								
					    
					    <div class="col-sm-3 form-group">	
					      <label for="status">Status</label>
					     <div>
					      <input type="checkbox" id="status">
					      <!-- <input type="checkbox" id="toggle-demo" checked 
					       								 data-toggle="toggle" 
					       								 data-on="Ativo" 
					       								 data-off="inativo" 
					      								 data-offstyle="danger"
					      								 data-size="normal"
					      								 data-width="80" 
					      								 data-height="30"> -->
					    
					     </div>		      							  
					 	</div>
					 									    							   					  						
				</div>
				
					<div class="row"> 
					 <div class="col-sm-6 form-group">
						<label>Grupos</label> 
     					<div>
					       <div class="checkbox checkbox-inline">				 		
						 		<input id="tipousuario" type="checkbox" value="a" />
						 		<label>Administrador</label>					       
					       </div>
	                       				     
						   <div class="checkbox checkbox-inline">				 		
						 		<input id="tipousuario1" type="checkbox" value="v" />
						 		<label>Vendedor</label>					       
					       </div>						
 					    </div>					
					 </div>
					</div>
					
				<div class="form-group">
						<button class="btn  btn-primary" type="submit">Salvar</button>																									 
					</div> 
			  
			   </form>
			
			</div>
		</section>


		<th:block layout:fragment="javascript-extra">
							
			<script th:src="@{/javascripts/bootstrap2-toggle.min.js}"></script>
			
			<script>
	 		  $(function() {
			    $('#status').bootstrapToggle({
			    	size:'large',
			    	offstyle: 'danger', 
			    	height:30,
			    	width: 80,
			    	on: 'Ativo',
			        off: 'Inativo'
			    });		    	 
			    
			  }) 		  			  
			</script>
		
		</th:block>


</body>
</html>